/* General styles */
	
    .head{
        background-color: #6a11cb;
    }
        
    .body{ 
        margin: 50%;
        position: relative;
    } 
        
    .hr{
        color:aliceblue
    }
    ul.nav-pills {
        top: 20px;
        position: fixed;
    }
        
    .footer{
        margin: 10%;
        bottom: 20px;
        position: relative;
    }

        
    .jumbotron{
        text-align: center;
        color: aliceblue;
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
        
    div.col-8 div {
        height: 500px;
    }
        
    .gradient-custom {
        /* fallback for old browsers */
        background: #6a11cb;
            
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
            
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
        
    @keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 2;
    }
    }
    .fade-in {
        animation: fade-in 2s ease-out;
    }
